
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
 background: url("hello.jpg") center / cover no-repeat;

}

h1 {
  color: black;
  text-align: center;
  margin: 10px 0;
  background-color: #fff6cc;
  font-style: italic;
}


.app {
  display: flex;
  height: calc(100vh - 60px);
}


.toolbar {
  width: 130px;
  background: url("hello.jpg") center / cover no-repeat;

  padding: 8px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6px;
  row-gap: 10px;

  align-content: start;
}


.toolbar button,
.toolbar input[type="color"],
.toolbar input[type="range"] {
  width: 56px;
  height: 56px;

  background-color: #fff6cc;
  border: 3px solid #7b6903;
  border-radius: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  cursor: pointer;
}


.toolbar input[type="range"] {
  grid-column: span 2;
  height: auto;
}


#canvas {
  flex: 1;
  background: white;
  border: 3px solid black;
  cursor: crosshair;
}

